/* code modified from https://codepen.io/bjornholdt/pen/zZyEga*/
.progressbar .progress {
    position: absolute;
    bottom: 0;
    background-color: green;
    border-radius: 4px;
    transition: height linear;
    text-align: center;
    margin: auto;
    /* transition-duration: 1ms; */
    width: 100%;
  }
  
  .progressbar {
    position: relative;
    width: 50px;
    height: 500px; /* learn how to make this relative to its container */
    border-radius: 4px;
    background-color: lightgrey;
    padding: 10px;
  }